{% extends "layouts/base.html" %}

{% block title %} Maps {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Self Assessment</h4>
                <p class="card-category">Home assessment before coming to work</p>
            </div>
            <div class="card-body">
                <form method="post" action="ui-assess.html">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-7">
                            <div>
                                <h4>Do you have a cough?</h4>
                            </div>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline1" name="cough" class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline1">Yes</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline2" name="cough" class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline2">No</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-7">
                            <div>
                                <h4>Are you sneezing? </h4>
                            </div>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="sneeze1" name="sneezing" class="custom-control-input">
                            <label class="custom-control-label" for="sneeze1">Yes</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="sneeze2" name="sneezing" class="custom-control-input">
                            <label class="custom-control-label" for="sneeze2">No</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-7">
                            <div>
                               <h4> Recent Covid-19 Exposure? </h4>
                            </div>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="exposure1" name="exposure" class="custom-control-input">
                            <label class="custom-control-label" for="exposure1">Yes</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="exposure2" name="exposure" class="custom-control-input">
                            <label class="custom-control-label" for="exposure2">No</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-7">
                            <div>
                                <h4> Have you had a fever in the past week? </h4>
                            </div>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="fever1" name="fever" class="custom-control-input">
                            <label class="custom-control-label" for="fever1">Yes</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="fever2" name="fever" class="custom-control-input">
                            <label class="custom-control-label" for="fever2">No</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-center">Submit Assessment</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initGoogleMaps();
    });
  </script>
  
{% endblock javascripts %}
