{% extends "layouts/base.html" %}

{% block title %} Maps {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Self Assessment Verification</h4>
                <p class="card-category">Verification of Completed Assessment</p>
            </div>
            <div class="card-body">
                Hello
                <video autoplay></video>


            </div>
        </div>
    </div>

    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>


      const constraints = {
          video: true
      };

      const video = document.querySelector('video');

      navigator.mediaDevices.getUserMedia(constraints)
      .then((stream) => {video.srcObject = stream});

      const hdConstraints = {
          video: {width: {min: 1280}, height: {min: 720}}
      };

      navigator.mediaDevices.getUserMedia(hdConstraints)
      .then((stream) => {video.srcObject = stream});



      const vgaConstraints = {
          video: {width: {exact: 640}, height: {exact: 480}}
      };

      navigator.mediaDevices.getUserMedia(vgaConstraints)
      .then((stream) => {video.srcObject = stream});


  </script>
  
{% endblock javascripts %}
